<% layout('layouts/main') %>

<div class="home-page-background">
  <div class="home-page-content">
    <h1>Welcome to Sitemap Generator!</h1>
    <p>The best offline tool to generate website sitemaps from your HTML data.</p>
    <a href="/login" class="btn btn-primary shadow">
      Get Started
    </a>
  </div>
</div>
